*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
repomix-output.xml
app/src/main/assets/Timbres of Heaven (XGM) 4.00(G).sf2
assets/Timbres of Heaven (XGM) 4.00(G).sf2
app/src/main/assets/Musyng_Kite.sf2
assets/Musyng_Kite.sf2
assets/ljam_core.sf2